#GreyBg {
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
}

#AddNotePanel {
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 3;
    width: 25%;
    background-color: #fffdf5;
    padding: 0.5% 1.5%;
    overflow-y: scroll;
}

#close_AddPanel {
    color:#f26535; 
    font-weight: 900;
    font-size: 2rem;
    cursor: pointer;
}

#form_container {
    padding: 3%;
}

.displayPanelNone {
    display: none;
}

#AddNotePanel h2 {
    font-size: 2rem;
    margin-bottom: 10%;
}

#AddNotePanel label {
    font-size: 1.5rem;
    color:#f26535;
    display: block;
    font-weight: 700;
    margin-bottom: 2%;
}

#AddNotePanel input, #AddNotePanel textarea{
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

#AddNotePanel input[type="text"],  #AddNotePanel textarea{
    padding: 2%;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5rem;
}

#AddNotePanel #Icon {
    width: 15%;
}

#AddNotePanel textarea {
    height: 25vh;
}

#AddNotePanel input[type="submit"]{
    display: block;
    margin: auto;
    width: 40%;
    padding: 2% 0;
    font-weight: 700;
    color: white;
    background-color:#f26535;
    border: 0;
}



/* MEDIA QUERIES */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    #AddNotePanel {
        width: 40%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #AddNotePanel {
        width: 55%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    #AddNotePanel {
        width: 65%;
    }
}

@media screen and (max-width: 576px) {
    #AddNotePanel {
        width: 80%;
    }
}