.Categorie {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fffdf5;
    padding: 2%;
    border-radius: 1rem;
    width: 45%;
    margin: 0 2.5% 5% 2.5%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.Categorie > legend {
    margin-left: 5%;
    border-radius: 0.5rem;
    background-color: #f89a7b;
    padding: 1% 2.5%;
    font-size: 1.5rem;
}

.Categorie a {
    display: table;
    margin: 3% 0;
    color:#f89a7b;
    font-style: italic;
}

.Categorie > legend > h3 {
    color: #fffdf5;
}

.Categorie > span {
    float: right;
    margin: 0 2%;
    font-size: 1.5rem;
    cursor: pointer;
}



/* MEDIA QUERIES */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .Categorie {
        padding: 5%;
        width: 90%;
        margin: 0 3% 6% 3%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .Categorie {
        padding: 3%;
        width: 90%;
        margin: 0 4% 7% 4%;
    }
}

@media screen and (max-width: 768px) {
    .Categorie {
        padding: 5%;
        width: 90%;
        margin: 0 5% 10% 5%;
    }
}