.note {
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    background-color: #fffdf5;
    width: 70%;
    margin: auto auto;
}

.note_title {
    font-size: 1.6rem;
    margin-bottom: 0.5%;
}

.note_infos {
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 2%;
}

.note > .iconSpan {
    float: right;
    margin: 0 2%;
    font-size: 1.5rem;
    cursor: pointer;
}