/* GLOBAL */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbed;
  padding: 3% 20%;
  font-size: 18px;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: #f26535;
}


/* SPECIFIC */

#App-title {
  text-align: center;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: inherit;
}


/*  MEDIA QUERIES  */

@media screen and (min-width: 769px) and (max-width: 1200px) {
  body {
    padding: 6% 16%;
    font-size: 18px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    padding: 8% 13%;
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding: 10% 10%;
    font-size: 18px;
  }
}